body{
    margin: 0;
    font-family: arial;
}

/*  ******************************* HEADER CONTENT ************************************ */
.content_container{
    position: relative;
    display: grid;
    grid-template-rows: 100px 150px 450px;
    
}
.background-container{    
    background-image: url(./resources/background.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;    
}
.background-container:before{
    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.18)
}
.header_container{
    /*background-color: lightcoral;*/
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.header_container figure{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 93px;
}
.header_logo{
    height: 40px;
    cursor: pointer;
}
.header_buttons{
    display: grid;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}
.header_buttons ul{
    display: inherit;
    grid-template-columns: 1fr 1fr 1fr 1fr;    
    text-decoration: none;
    list-style: none;
    text-align: center;
}

.header_buttons a{
    color: white;   
    text-decoration: none; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    transition-property:color, padding, background-color, border-radius;
    transition-duration: 25ms;
}
.header_buttons a:hover{
    color: black;
    padding: 9px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px;
}
.header_buttons--signup{
    display: grid;
    align-items: center;
}
.header_buttons--signup a{
    color: white;   
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.header_buttons--signup a:hover{
    color: black;
    padding: 9px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px;
}
.header_buttons--signup ul{
    text-decoration: none;
    list-style: none;
    text-align: center
}

/* **********************************  body_document ********************************* */

.statement_container{    
    display: inherit;
    grid-template-columns: 25% 75%;
}
.right_statement{    
    padding: 40px 190px 0px 100px;
    font-family: 'Montserrat', sans-serif;
}
.right_statement h1{
    color: white;
    font-size: 30px;
    font-weight: 400;
}

.left_statement h5{
    color: white;
    font-size: 20px;
    font-family: 'Zilla Slab', serif;
    font-weight: 300;
}
.left_statement{
    padding-top: 55px;
    text-align: center;  

}

/* ********************* COFFEE TYPES ******************* */

.items_container{
    display: grid;
    grid-template-rows: 240px 240px 240px 240px 240px;
    
    
    background-color: #fafafa;
    
    padding-left: 70px;
    padding-right: 70px; 
    font-family: 'Montserrat', sans-serif;
    align-items: center;  
    
}

.items_container p{
    margin: 0px;    
}
.item{
    height: 160px;
    width: 530px;
    border-radius: 50px;
    border: 4px solid rgb(155, 97, 9);
    background-color: white;
    padding: 10px 30px;
    padding-bottom: 0px;
    box-shadow: 0px 0px 6px rgb(92, 92, 92);
    color: rgb(129, 81, 8);
    display: inherit;
    grid-template-rows: 30px 1fr;
    
    
}
.item_title{
    
    justify-content: center;
    text-align: center;
    font-weight: 700;
    align-items: center;
}
.item_content{
    /*text-transform: lowercase;*/
    text-align: justify;
    font-weight: 600;
    align-items: center;
}
.item:hover {
    color: rgb(177, 111, 13);
    box-shadow: 0px 0px 10px rgb(92, 92, 92);
    border: 4px solid rgb(173, 106, 6);
    background-color: rgb(251, 250, 255);
    transition: color, background-color, 500ms;
    cursor: pointer;
}
.types_container{
    background-color: #fafafa;
    height: 90px;
    display: grid;
    display: relative;
}
.types_title h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #BE3330;
    font-size: 30px;
    background-color: inherit;
    margin: 0px;    
    padding: 33px 0px 20px 0px;
    
}

.item_right{
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    
}

.item_left{
    display: grid;
    grid-template-columns:  70% 30%;
    align-items: center;
}

.item_wrapper{
    margin: 0px;
    display: grid;
    justify-content: right;
    
}

.image{
    height: 190px;
    width: 190px;  


    
    
    display: inline-block;
    position: relative;  
}
.image img{
    height: inherit;
    width: inherit;
    object-fit: cover;
    /*border-radius: 90px;*/
    cursor: pointer;


   
}
.image img:hover{
    transform: scale(1.1);
    
}

.item_image-container{
    display: grid;
    justify-content: right;
}

.image_details{
    position: absolute;
}