/*
@media (min-width: 1920px){
    .header{
        margin: 0px 20%;
    }

}*/
@media screen and (max-width: 1024px){
    .form_register{
        margin: 100px 29% 0 10%;

    }
    .Item-select_container {        
        margin-left: 0%;
    }
    .product_selector-container{
        margin-left: 12%;
    }
    .product_preview-container {
        margin-left: 12%;
    }
    .selection_icon{
        margin-top: 6%;
    }
    
}


@media screen and (max-width: 768px){
    .form_register{
        margin: 100px 9% 0 10%;
    }
    .selection_icon{
        margin-top: 8%;
    }
}

@media screen and (max-width: 689px){
    .product_selector-container{
        margin-left: 2%;
    }
    .product_preview-container {
        margin-left: 2%;
    }
    .selection_icon {
        margin-top: 11%;
    }
}

@media screen and (max-width: 480px){
    .Item-select_container{
        width: 100%;
        margin-left: 5%;
    }
    
    .Form_container{
        width: 100%;
       
    }
    main{
        flex-direction: column;
        height: 1019px;
    }    
    .product_preview-container {
        margin-left: 0;
    }
    .product_selector-container {
        margin-left: 0;
        margin-top: 110px;
    }
    .add_products-container {
        padding-left: 4%;
    }
    .Item-select_container{
        margin: 0;
    }
    .form_register {
        margin: 65px 9% 0 10%;
    }
    @keyframes options_show{
        0% {
            top: -100vh;
            height: 0px;
        }
        1% {
            top: 29vh;
            opacity: 0;
        }
        40% {
            height: 0px;
        }
        100% {
            top: 30vh;
            opacity: 1;
            height: 372px;
        }
    }

    @keyframes options_hide{
        0%{
            top:30vh;
            opacity: 1;
            height: 372px;
        }
        60%{
            height:0px;
            opacity:0; 
            top:38vh;               
        }    
        61%{
            top:-100vh
        }
        100%{
            top:-100vh;
        }
    }

}
