html, body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

.header_container{
    /*background-color: lightcoral;*/
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: rgb(148, 48, 2);
    box-shadow: 0px 0px 6px;
    font-style: initial;
}

.header_container figure{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 93px;
}
.header_logo{
    height: 40px;
    cursor: pointer;
}
.header_buttons{
    display: grid;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}
.header_buttons ul{
    display: inherit;
    grid-template-columns: 1fr 1fr 1fr 1fr;    
    text-decoration: none;
    list-style: none;
    text-align: center;
}

.header_buttons a{
    color: white;   
    text-decoration: none; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    transition-property:color, padding, background-color, border-radius;
    transition-duration: 25ms;
}
.header_buttons a:hover{
    color: black;
    padding: 9px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px;
}
.header_buttons--signup{
    display: grid;
    align-items: center;
}
.header_buttons--signup a{
    color: white;   
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.header_buttons--signup a:hover{
    color: black;
    padding: 9px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px;
}
.header_buttons--signup ul{
    text-decoration: none;
    list-style: none;
    text-align: center
}
.main_logo{
    display: none;
}
.menu_container{
    display: none;
}
.main_logo{
    background-color: rgb(173, 55, 0);
    padding-bottom: 2.5vh;
}

/*  *****************************  MAIN (Cuerpo Principal)  ******************************  */

main{
    height: 500px;
    background-color: #fafafa;
    display: flex;
}

.Item-select_container{
    width: 50%;
}

.Form_container{
    width: 50%;
   
}




.form_register{    
    display: grid;
    grid-template-rows: repeat(7, 50px);
    margin: 100px 20% 0 20%;
    
}

.form_register label input{
    width: 98%;
    height: 30px;
    border: none;
    border-bottom: 2px solid rgb(223, 89, 0);
    padding: 0 10px;
    background-color: transparent;
    outline: none;
    font-weight: 600;
    color: rgb(27, 26, 26);
}
.agreement_wrapper{
    margin: 0 auto;
}
.form_register label input:focus{
    background-color: rgba(141, 141, 141, 0.034);
}
#agreement{
    width: 25px;;
    height: initial;
}
#btn_enviar{    
    width: 127px;
    height: 41px;
    margin: 0 auto;
    outline: none;
    border: 2px solid rgb(223, 89, 0);
    background-color: transparent;
    border-radius: 10px;
    color: rgb(223, 89, 0);
    font-weight: 600;
}
#btn_enviar:hover{
    background-color: rgb(223, 89, 0);
    color: white;
    cursor: pointer;
}
.agreement-a{
    color: rgb(28, 59, 145);
}


.product_selector-container{
    
    height: 102px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.product_selector h2{
    margin: 0;
    font-size: 24px;
    position: relative;
}
.product_selector{
    background-image: url("../resources/coffeeBackground.jpg");
    height: 43px;
    max-width: 296px;
    border-radius: 35px;
    padding: 6%;
    outline: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 3;
    position: relative;
    overflow: hidden;
}
.product_selector:before{
    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.18)
}
/* opciones del menú desplegable */
.options_container{
    position: absolute;    
    top: -100vh;
    z-index: 2;
    color: white;
    border-radius: 15px;
    overflow: -moz-hidden-unscrollable;
    width: 296px;
    height: auto;
    background-color: rgba(199, 0, 109, 0.918);
    text-align: center; 
    padding: 8px 0px;   
}
.product_selection-wrapper{
    width: 338px
}
.product-option{
    height: 62px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1%; 
    margin: 7px auto;
    border-radius: 20px;

}
.product-option::before{
    content:"";
    height: 100%;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.144);
    position: absolute;
    height: 62px;
    border-radius: 20px;
}
.product-option p{
    position: relative;
}


#product-option_moka{
    background-image: url("../resources/moka.webp");
    background-size: cover;
    background-position-y: 43%;
}


#product-option_java{
    background-image: url("../resources/java.jpg");
    background-size: cover;
    background-position-y: 42%;
}



#product-option_kenia{
    background-image: url("../resources/kenia.jpg");
    background-size: cover;
    background-position-y:39%;
}



#product-option_tarrazu{
    background-image: url("../resources/tarrazu.jpg");
    background-size: cover;
    background-position-y: 24%;
}



#product-option_peaberry{
    background-image: url("../resources/peaberry.jpg");
    background-size: cover;
    background-position-y: 49%;
}

/*
#product-option_peaberry:before{
    content:"";
    position: absolute;
    height: 72px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.18)
}
*/

.product_preview-container{
    
    height: 229px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.product_preview{
    
    border-radius: 20px;
    max-width: 400px;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.product_preview h1{
    margin: 0; 
    position: absolute;
    z-index: 2;
    color: white;
    display: none;
}
.product_preview figure{
    margin: 0;
    border-radius: 20px;
    max-width: 300px;
    object-fit: cover;
   
    z-index: 1;
}
.product_preview img{
    width: 100%;
    border-radius: 20px;
    
}
.add_products-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    flex-direction: column;
}
.final_price h3{
    margin: 0;
    margin-bottom: 5px;
}
.quantity-controll{
    display: flex;
    border: 2px solid rgb(23, 28, 94);
    border-radius: 30px;
    padding: 2px 5px;
}
.quantity-controll p{
    margin: 0;
    font-weight: 800;
    margin: 2px 10px;
    font-size: 20px;
    color: rgb(34, 34, 34);
}
.quantity-item{
    height: 30px;
    
}
.quantity-item button{
    outline: none;
    background-color: transparent;
    border: none;
    border: 2px solid rgb(155, 155, 155);
    border-radius: 100%;
    font-weight: 900;
    font-size:20px;
    width: 30px;
    height: 30px;
    color: rgb(34, 34, 34);
}
.quantity-item button:hover{
    background-color: rgb(61, 34, 218);
    color: white;
    border-color: white;
}
.quantity-item button:active{
    background-color: rgb(41, 19, 163);
}