body{
    font-family: sans-serif;
    margin: 0px;
}

.items_container{
    display: grid;
    grid-template-rows: 240px 240px 240px 240px;
    grid-template-columns: 1fr 1fr ;
    
    background-color: #fafafa;
    
    padding-left: 50px;
    padding-right: 50px; 
    font-family: 'Montserrat', sans-serif;
    align-items: center;
}
.items_container p{
    margin: 0px;    
}
.item{
    height: 160px;
    width: 530px;
    border-radius: 50px;
    border: 4px solid rgb(155, 97, 9);
    background-color: white;
    padding: 10px 30px;
    padding-bottom: 0px;
    box-shadow: 0px 0px 6px rgb(92, 92, 92);
    color: rgb(129, 81, 8);
    display: inherit;
    grid-template-rows: 30px 1fr;
    
}
.item_title{
    
    justify-content: center;
    text-align: center;
    font-weight: 700;
    align-items: center;
}
.item_content{
    /*text-transform: lowercase;*/
    text-align: justify;
    font-weight: 600;
    align-items: center;
}
.item:hover {
    color: rgb(177, 111, 13);
    box-shadow: 0px 0px 10px rgb(92, 92, 92);
    border: 4px solid rgb(173, 106, 6);
    background-color: rgb(251, 250, 255);
    transition: color, background-color, 500ms;
    cursor: pointer;
}
.types_container{
    background-color: #fafafa;
    height: 90px;
    display: grid;
    display: relative;
}
.types_title h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: rgb(160, 26, 17);
    font-size: 30px;
    background-color: inherit;
    margin: 0px;
    padding: 20px 0px;
    
    
}

