/*  *********************************  MENU DE NAVEGACIÓN LATERAL principal  **********************************  */
.navigation_menu-d{
    position: fixed;
    z-index: 2;
    bottom: 0;
    right: 0;
    margin-bottom: 10px;
    margin-right: 10px;
    
}


.menu_container-d{
    background-color: rgba(47, 23, 133, 0.836);
    height: 70px;
    width: 190px;
    border-radius: 15px;    
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    flex-direction: column;  
    cursor:pointer;   
}
.menu_container-d:hover{
    background-color: rgba(47, 23, 133, 0.945);
}
.menu-opacity{
    background-color: rgba(47, 23, 133, 0.945);
}





.menu_panel-d{    
    margin-bottom: 5px;    
    overflow: hidden;  
    height: 0px; 
     
}

.show{
    display: flex;
    animation-name: menu_anim;
    animation-duration: .5s;
    animation-iteration-count: 1;    
    animation-fill-mode: both;
}



@keyframes menu_anim{
    0%{
        opacity: 0;
        transform: translate3d(0, 25%, 0);
        height: 0px;
    }
    
    100%{
        opacity: 1;
        transform: translate3d(0, 0, 0);
        height: 300px;
    }
}

.hidde{
    animation-name: anim_menu-hidde;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes anim_menu-hidde{
    0%{
        opacity: 1;
        transform: translate3d(0, 0, 0);
        height: 300px;
    }
    100%{
        opacity: 0;
        transform: translate3d(0, 25%, 0);
        height: 0px;
    }
}




/*  *********************************  OPCIONES CONTENIDO  *************************************  */
.navigation_menu-d p{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_option-contaier{
    cursor: pointer;
    background-color:  rgb(74, 23, 133);
    margin: 0;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px;
    border-radius: 20px;
    width: 90%;
}

.navigation_menu-d small{
    font-size:14px;
    color: rgb(187, 187, 187);
    border-bottom: 2px solid rgb(187, 187, 187);
    margin: 3px 0px;
}






/* ******************* COFFEE SHOP OPTION */
#CoffeeOption{   
    background-image: url("./menu_images/coffee.jpg");
    background-size: cover;
    position: relative;
    border: 3px solid rgb(243, 243, 243);
    background-position-y: 36%;
    --background_pseudo: rgba(0, 0, 0, 0.219);
}
#CoffeeOption p{
    position: relative;
}
#CoffeeOption.dark{
    --background_pseudo: rgba(0, 0, 0, 0.5);
}
#CoffeeOption::before{
        border-radius: 20px;
        content:'';
        position: absolute;        
        background-color: var(--background_pseudo);
        height: 100%;
        width: 100%;
        
        /*
        top:0;
        bottom: 0;
        left: 0;
        right:0;    */
    }
    


/* *******************  PORTFOLIO OPTION */
#Portfolio_Option{
    background-image: url("./menu_images/tech.jpeg");
    background-size: cover;
    position: relative;    
    --background_pseudo: rgba(0, 0, 0, 0.014);
}
#Portfolio_Option.dark{
    --background_pseudo: rgba(0, 0, 0, 0.5);
}
#Portfolio_Option p{
    position: relative;
}
#Portfolio_Option:before{
        border-radius: 20px;
        content:'';
        position: absolute;        
        background-color: var(--background_pseudo);
        height: 100%;
        width: 100%;        
    }




/*  *******************************  DP-OPTION */
#DP-Option{
    background-image: url("./menu_images/ecommerse.png");
    background-size: cover;
    position: relative;
    background-position-y: 26%;
    --background_pseudo: rgba(0, 0, 0, 0.247);
}
#DP-Option.dark{
    --background_pseudo: rgba(0, 0, 0, 0.5);
}
#DP-Option p{
    position: relative;
}
#DP-Option:before{
    border-radius: 20px;
    content:'';
    position: absolute;        
    background-color: var(--background_pseudo);
    height: 100%;
    width: 100%;    
}




/*   ************************  PEOJECT 3 OPTION */
#Project3-Option{
    background-image: url("./menu_images/projects.jpeg");
    background-size: cover;
    position: relative; 
    --background_pseudo: rgba(0, 0, 0, 0.288);
}
#Project3-Option.dark{
    --background_pseudo: rgba(0, 0, 0, 0.5);
}
#Project3-Option p{
    position: relative;
}
#Project3-Option:before{
    border-radius: 20px;
    content:'';
    position: absolute;        
    background-color: var(--background_pseudo);
    height: 100%;
    width: 100%;
    
}



.arrow{
    margin: 0;
    position: absolute;
    right: 0;
    height: 22px;
    margin-right: 17%;
    transition: .3s;
}
.arrow img{
    height: 22px;
}
.arrow_rotate{
    transform: rotateZ(180deg)
}